# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CodeBlocks Files

bin/
obj/
*.depend
*.layout
*.cbp

#Ubuntu Files

testdeck
blackjack
